* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --run-speed: 3500ms;
    --background-width: 1920px;
    --ground-position: 57vh;
    --jump-height: 50vh;
}

body {
    background-color: #f1f1f1;
}

.game {
    width: 75vw;
    height: 65vh;

    margin: auto;
    margin-top: 1rem;

    border-radius: 10px;

    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 5vh;
    left: 50%;

    transform: translate(-50%);

    z-index: 1;

    width: 24vw;
    height: 8px;
    background-color: #f1f1f1;
}
.progress-bar-thumb {
    position: relative;
    top: -1vh;
    /* -1 = 0% 23vw = 100% */
    left: -1vw;

    z-index: 1;

    background-image: url(../images/sonicJump.webp);
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.progress-bar-trail {
    position: absolute;
    top: 0;

    max-width: 23.5vw;
    width: 0%;
    height: 6px;

    background-color: red;
}

.scrolling-background {
    width: 100%;
    height: 65vh;

    background: url(../images/sonicTilemap01.png) repeat-x;
    background-size: contain;
    background-position: center;

    height: 100%;
    width: 3072px;

    animation: background-scroll var(--run-speed) linear infinite;
}

@keyframes background-scroll {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-50%);
    }
}

.colliders {
    width: 100%;
    height: 50vh;
}
.player {
    position: absolute;
    top: var(--ground-position);
    left: 13vw;

    background-position: center;
    background-size: cover;

    width: 16px;
    height: 16px;
}
.coin {
    position: absolute;
    top: var(--ground-position);
    left: 90vw;

    background-image: url(../images/coin.gif);
    background-position: center;
    background-size: cover;

    width: 16px;
    height: 16px;
}
.spikes {
    position: absolute;
    top: var(--ground-position);
    left: 90vw;

    background-image: url(../images/sonicSpikes.webp);
    background-position: center;
    background-size: cover;

    width: 32px;
    height: 32px;
}

.coin-move-animation {
    animation: coin-move 2500ms linear forwards;
}
@keyframes coin-move {
    0% {
        left: 90vw;
    }
    100% {
        left: -90vw;
    }
}


.player-running {
    background-image: url(../images/sonicRunning.webp);
}
.player-jumping {
    background-image: url(../images/sonicJump.webp);
}

.player-jump-animation {
    animation: player-jump 500ms forwards;
}
@keyframes player-jump {
    0% {
        top: var(--ground-position);
    }
    45% {
        top: var(--jump-height);
    }
    50% {
        top: var(--jump-height);
    }
    100% {
        top: var(--ground-position);
    }
}